<!DOCTYPE html>
<div>
  <div class="row">
    <div class="row firstRowColor">

      <div>
        <img src="./../../../../assets/png/abcd-min.PNG">
      </div>
    </div>

    <div class="row secondRowColor">

      <ul class="nav justify-content-end">

        <li class="nav-item">
          <a class="nav-link font-family active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link font-family font-color" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link font-family font-color" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link font-family font-color disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
    </div>
  </div>
</div>
