.firstRowColor {
  background-color: #5dabf4;
  // text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.secondRowColor {
  background-color: aliceblue
}

.font-color {
  color: black;
}

.font-family {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
